.container {
  height: 100vh;
}

.menu{
  width: 260px;
  background-color: white;
}

.loading-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.system-name-wrapper {
  height: 64px;
}

.system-name{
  color: white;
  padding-left: 60px;
  line-height: 64px;
}